/* Font Popins */
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

/* Universal */

a { text-decoration: none; }

.background
{
  position: absolute;
  margin: auto;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 650px;
  height: 750px;
  background-color: rgba(222, 222, 222, 1);
  border-radius: 25px;

}

body{
    margin: 0px;
    font-family: 'Poppins', sans-serif;
    color: black;
}

button{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 300px;
    height: 50px;

    background-color: wheat;

    border-radius: 25px;
    border-width: 1px;
    border-color: black;
    border: none;

}

.navbar{
    display: flex; width: 100vw;
    justify-content: space-around;
    
}

input {
    border: none;
    outline: none;
    border-bottom: 1px solid #ddd;
    font-size: 1em;
    padding: 5px 0;
    margin: 10px 0 5px 0;
    width: 100%;
  }


/* Dashboard */
.header{
    width: 100vw; background-color: #BABABA;
}


/* Signup and Login */
.window{
    display: flex;
    flex-flow: column;
    width: 100%; height: 100%;
    justify-content: center;
    align-items: center;

}

#signup_icon{
    display: flex;
    align-self: center;
    width: 150px;
    height: 150px;
    margin-bottom: 10px;
    margin-top: 2%;

    background: #C7C7C7;
}

.fields{
    display: flex;
    justify-content: center;
    align-self: center;
    width: 500px;
    height: 40px;
    margin: 2%;

    font-family: 'Poppins', sans-serif;
    color: black;
    text-indent: 5%;

    background-color: whitesmoke;

    border-radius: 25px;

}

.image_fields{
    display: flex;
    justify-content: center;
    align-self: center;
    width: 500px;
    height: 275px;
    margin: 2%;

    text-indent: 5%;

    background-color: whitesmoke;

    border-radius: 25px;

}

.pfp_fields{
    display: flex;
    width: 275px;
    height: 275px;
    margin: 2%;

    text-indent: 5%;

    background-color: whitesmoke;

    border-radius: 25px;

}

#title{
    font-family: 'Poppins', sans-serif;
    color: black;
    margin-bottom: 5%;
}

#text{

    align-self: center;
    vertical-align:middle;

    font-family: 'Poppins', sans-serif;
    color: black;

    text-decoration: none;

}

input:focus::placeholder {
    color: transparent;
  }
